<!DOCTYPE HTML>
<html>
	<head>
	</head>
	<body>
		<form method="post" action="payment/check.abs">
			<table>
				<tbody>
					<tr>
						<td>Product Name</td>
						<td>:</td>
						<td>
							<select name="product_name">
								<option value="Telkom Speedy">Telkom Speedy</option>
								<option value="Telkom Solution">Telkom Solution</option>
								<option value="PLN">PLN</option>
								<option value="PDAM">PDAM</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>Customer ID</td>
						<td>:</td>
						<td><input type="text" name="customer_id" /></td>
					</tr>
					<tr>
						<td colspan="2"><input type="submit" value="Check" /></td>
					</tr>
				</tbody>
			</table>
		</form>
	</body>
</html>